[workspace]
members = [
    "libcnb",
    "libcnb-cargo",
    "libcnb-data",
    "libcnb-proc-macros",
    "libcnb-test",
    "examples/example-01-basics",
    "examples/example-02-ruby-sample",
    "examples/example-03-execd"
]
