[package]
name = "libcnb"
version = "0.1.2"
authors = ["Manuel Fuchs <malax@malax.de>", "Terence Lee <hone02@gmail.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Rust language binding of the Cloud Native Buildpack spec."
repository = "https://github.com/Malax/libcnb.rs"
documentation = "https://docs.rs/libcnb"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4.0"
regex = "1"
semver = { version = "0.11", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"
toml = "0.5.8"

[dev-dependencies]
anyhow = "1"
tempfile = "3"
