[package]
name = "tracing"
version = "0.0.0"
edition.workspace = true
rust-version.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
libcnb = { path = "../../libcnb", features = ["trace"] }

[dev-dependencies]
libcnb-test.workspace = true
