[package]
name = "libcnb"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "A framework for writing Cloud Native Buildpacks in Rust"
keywords = ["buildpacks", "CNB"]
repository = "https://github.com/heroku/libcnb.rs"
documentation = "https://docs.rs/libcnb"
readme = "README.md"
include = ["src/**/*", "LICENSE", "README.md"]

[dependencies]
anyhow = { version = "1.0.75", optional = true }
cyclonedx-bom = { version = "0.4.0", optional = true }
libcnb-common.workspace = true
libcnb-data.workspace = true
libcnb-proc-macros.workspace = true
opentelemetry = "0.20.0"
opentelemetry-stdout = { version = "0.1.0", features = ["trace"] }
serde = { version = "1.0.188", features = ["derive"] }
thiserror = "1.0.48"
toml.workspace = true

[dev-dependencies]
fastrand = "2.0.0"
tempfile = "3.8.0"
