[package]
name = "libcnb-test"
version = "0.4.0"
edition = "2021"
rust-version = "1.59"
license = "BSD-3-Clause"
description = "An integration testing framework for buildpacks written with libcnb.rs"
keywords = ["buildpacks", "CNB"]
repository = "https://github.com/heroku/libcnb.rs/tree/main/libcnb-test"
documentation = "https://docs.rs/libcnb-test"
readme = "README.md"
include = ["src/**/*", "../LICENSE", "README.md"]

[dependencies]
bollard = "0.13.0"
cargo_metadata = "0.15.0"
fastrand = "1.7.0"
fs_extra = "1.2.0"
libcnb-package = { version = "0.1.2", path = "../libcnb-package" }
serde = "1.0.137"
tempfile = "3.3.0"
tokio = "1.19.2"
tokio-stream = "0.1.9"

[features]
# Enables experimental support for connecting to a remote Docker daemon.
# Disabled by default since support is only partly implemented, and also
# results in many more dependencies due to requiring TLS.
remote-docker = ["bollard/ssl"]
