[package]
name = "libcnb-test"
version = "0.2.0"
edition = "2021"
rust-version = "1.58"
license = "BSD-3-Clause"
description = "An integration testing framework for buildpacks written with libcnb.rs"
keywords = ["buildpacks", "CNB"]
repository = "https://github.com/Malax/libcnb.rs/tree/main/libcnb-test"
documentation = "https://docs.rs/libcnb-test"
readme = "README.md"
include = ["src/**/*", "../LICENSE", "README.md"]

[dependencies]
bollard = { version = "0.11.1", features = ["ssl"] }
cargo_metadata = "0.14.2"
fastrand = "1.7.0"
fs_extra = "1.2.0"
libcnb-package = { version = "0.1.0", path = "../libcnb-package" }
tempfile = "3.3.0"
tokio = "1.17.0"
tokio-stream = "0.1.8"
serde = "1.0.136"
