[package]
name = "libcnb-cargo"
version = "0.1.0"
edition = "2021"
rust-version = "1.56"
license = "BSD-3-Clause"
description = "Cargo command for managing buildpacks written with libcnb.rs"
repository = "https://github.com/Malax/libcnb.rs"
readme = "../README.md"
include = ["src/**/*", "../LICENSE", "../README.md"]

[[bin]]
name = "cargo-libcnb"
path = "src/main.rs"

[dependencies]
toml = "0.5.8"
libcnb-data = { version = "0.3.0", path = "../libcnb-data" }
cargo_metadata = "0.14.1"
which = "4.2.2"
flate2 = "1.0.22"
tar = "0.4.37"
clap = "2.33.1"
log = "0.4.14"
stderrlog = "0.5.1"
size_format = "1.0.2"
pathdiff = "0.2.1"
