[package]
name = "libcnb-cargo"
version = "0.4.1"
edition = "2021"
rust-version = "1.58"
license = "BSD-3-Clause"
description = "Cargo command for managing buildpacks written with libcnb.rs"
keywords = ["buildpacks", "CNB"]
repository = "https://github.com/heroku/libcnb.rs/tree/main/libcnb-cargo"
documentation = "https://github.com/heroku/libcnb.rs/blob/main/libcnb-cargo/README.md"
readme = "README.md"
include = ["src/**/*", "../LICENSE", "README.md"]

[[bin]]
name = "cargo-libcnb"
path = "src/main.rs"

[dependencies]
cargo_metadata = "0.15.0"
clap = { version = "3.2.5", default-features = false, features = [
  "std",
  "derive",
] }
fs_extra = "1.2.0"
libcnb-package = { version = "0.1.2", path = "../libcnb-package" }
log = "0.4.17"
pathdiff = "0.2.1"
size_format = "1.0.2"
stderrlog = "0.5.1"
