[package]
name = "libherokubuildpack"
version = "0.10.0"
edition = "2021"
rust-version = "1.60"
license = "BSD-3-Clause"
description = "Opinionated common code for buildpacks implemented with libcnb.rs"
keywords = ["buildpacks", "CNB"]
repository = "https://github.com/heroku/libcnb.rs"
documentation = "https://docs.rs/libherokubuildpack"
readme = "./README.md"
include = ["src/**/*", "../LICENSE", "../README.md"]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["digest", "error", "log", "tar", "toml"]
download = ["dep:ureq", "dep:thiserror"]
digest = ["dep:sha2"]
error = ["log", "dep:libcnb"]
log = ["dep:termcolor"]
tar = ["dep:tar", "dep:flate2"]
toml = ["dep:toml"]
fs = ["dep:pathdiff"]

[dependencies]
libcnb = { path = "../libcnb", version = "0.10.0", optional = true }
flate2 = { version = "1.0.24", optional = true }
pathdiff = { version = "0.2.1", optional = true }
sha2 = { version ="0.10.2", optional = true }
tar = { version = "0.4.38", optional = true }
termcolor = { version = "1.1.3", optional = true }
thiserror = { version = "1.0.31", optional = true }
toml = { version = "0.5.9", optional = true }
ureq = { version = "2.5.0", optional = true }

[dev-dependencies]
tempfile = "3.3.0"
