[package]
name = "libcnb-package"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "Library for cross-compiling and packaging buildpacks written with libcnb.rs"
keywords = ["buildpacks", "CNB"]
repository = "https://github.com/heroku/libcnb.rs/tree/main/libcnb-package"
documentation = "https://docs.rs/libcnb-package"
readme = "README.md"
include = ["src/**/*", "../LICENSE", "README.md"]

[dependencies]
cargo_metadata = "0.15.0"
libcnb-data.workspace = true
toml.workspace = true
which = "4.2.5"
