name: CI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Update Rust toolchain
      # Most of the time this will be a no-op, since GitHub releases new images every week
      # which include the latest stable release of Rust, Rustup, Clippy and rustfmt.
      run: rustup update
    - name: Clippy
      # Using --all-targets so tests are checked and --deny to fail on warnings.
      run: cargo clippy --all-targets --all-features -- --deny warnings
    - name: rustfmt
      run: cargo fmt -- --check --verbose

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      # Not using --locked since Cargo.lock is in .gitignore.
      run: cargo build --all-features
    - name: Run tests
      run: cargo test --all-features
